<h1>Songs#entry</h1>
<p>Find me in app/views/songs/entry.html.erb</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ファイル名</th>
      <th>ファイルパス</th>
      <th>曲名</th>
      <th>アーティスト</th>
      <th>アルバム</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.path %></td>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.album %></td>
      </tr>
    <% end %>
  </tbody>
</table>