<h1>予約状況確認</h1>
<br>
<%= link_to 'preview Reservation', reservations_preview_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>予約番号</th>
      <th>ファイル名</th>
      <th>曲名</th>
      <th>アーティスト</th>
      <th>アルバム</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each_with_index do |reservation, index| %>
    <% if !reservation.reproduced %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= reservation.song.name %></td>
        <td><%= reservation.song.title %></td>
        <td><%= reservation.song.artist %></td>
        <td><%= reservation.song.album %></td>
        <td>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")),
            reservation_path(reservation),
            method: :delete,
            data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: '削除してもよろしいですか？')) },
            class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
    <% end  %>
  </tbody>
</table>
